/* ------------------------ WEB FONTS ----------------------------------- */
@font-face {
    font-family: Chewy-Reg;
    src: url(assets/Chewy-Regular.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(assets/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Reg;
    src: url(assets/Lato-Regular.ttf);
}
@font-face {
    font-family: Arvo-Bold;
    src: url(assets/Arvo-Bold.ttf);
}
@font-face {
    font-family: Arvo-Reg;
    src: url(assets/Arvo-Regular.ttf);
}
*, body{
    margin: 0px;
    padding: 0px;
}
body {
    background: url(html/Picture/bg/75290.jpg) no-repeat center fixed;
    background-size: cover;
}

/* ------------------------ NAVBAR ----------------------------------- */
.Logopic{
    height: 60px;
    width: 65px;
    text-align: left;
    margin-top: 8px;
    margin-left: 15px;
    float: left;
}
.Title_Navbar{
    float:left;
    margin-top: 20px;
    margin-left: 12px;
    font-family: Arvo-Bold;
    letter-spacing: 1px;
    text-align: right;
    font-size: 24px;
}
.Admin-mode{
    text-align: center;
    font-size: 26px;
    font-family: Arvo-Bold;
    letter-spacing: 1px;
    text-decoration: none;
    float:none;
    margin-top: 100px;
    color: white;
    padding: 10px 15px;
    border: 0px solid black;
    width: 15%;
    background-color: #e3aa7b;
    border-radius: 15px;
    box-shadow: 0px 7px 10px 0px grey;
}
nav{
    position: relative;
    width: 100%;
    height: 75px;
    background: url(html/Picture/bg/75290.jpg) no-repeat center fixed;
    background-size: cover;
    box-shadow: -1px -7px 30px 0px black;
}

/* ------------------------ INDEX ----------------------------------- */
.Column-paragraph{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.Index-title{
    padding: 7px 12px;
    border:2px solid black;
    text-align: center;
    font-size: 30px;
    font-family: Arvo-Reg;
    margin: 0px 0px 25px 0px;
    text-decoration: none;
    color: black;
    border-radius: 22px;
    background-color: white;
}
.Index-title:hover{
    color: white;
    background-color: #e3aa7b;
}
.Index-pic{
    height: 100px;
    width: 100px;
    margin: 140px 160px 20px 160px;
}
.Title-menu{
    float: none;
    text-align: center;
    font-size: 40px;
    font-family: Arvo-Bold;
    letter-spacing: 1px;
    margin: 40px 0px 15px 0px;
}

/* ------------------------ FORM ----------------------------------- */
.Form-title-style{
    float: none;
    margin: 20px 0 20px 0; 
    border: 2px;
}
.Form-title{
    text-align: center;
    font-size: 24px;
    font-family: Lato-Bold;
    letter-spacing: 3px;
}
.Form-content-style{
    padding: 10px 15px; 
    text-align: left;
    float: none;
    margin-top: 4px;
}
.Form-content-style:focus{
    background-color: #f7e4ce;
}
.Form-submit-style{
    padding: 10px 15px; 
    text-align: center;
    float: none;
    margin-top: 4px;
}
.Fieldset{
    width: 80%;
    float: none;
    margin-left: 119px;
    border: 0px solid black;
}

/* ------------------------ TABLE ----------------------------------- */
.content-table {
    border-collapse: collapse;
    margin: 25px;
    margin-top: 30px;
    font-size: 0.9em;
    font-family: Lato-Bold;
    width: 80%;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    margin-left: 120px;
    background-color: white;
}
.content-table thead tr {
    background-color: #f6d2a8;
    color: black;
    text-align: left;
}
.content-table th{
    padding: 12px 15px;
    border-bottom: 1px solid black;
}
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: black;
}
.content-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}
.text-remove{
    text-decoration: none;
    color: red;
}
.text-update{
    text-decoration: none;
    color: blue;
}
.text-add{
    text-decoration: none;
    color: green;
}

/* ------------------------ FOOTER ----------------------------------- */
footer {
    padding: 10px;
    text-align: center;
    color: white;
  }
footer ul{
    position: relative;
    top: 20px;
    margin: 0;
    float:none;
    margin-right: 100px;
}
footer ul li{
    float: right;
    display: block;
    margin: 0px 10px 0px 0px;
}
footer ul li a{
    padding: 7px 12px;
    border: 2px solid black;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: black;
    font-family: Lato-Reg;
    border-radius: 22px;
    background-color: white;
}
footer ul li a:hover{
    color: white;
    background-color: red;
}
.Menu-back{
    float: right;
    padding: 7px 12px;
    border:2px solid black;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    font-family: Lato-Reg;
    margin: 15px 120px 0px 0px;
    text-decoration: none;
    color: black;
    border-radius: 22px;
    background-color: white;
}
.Menu-back:hover{
    color: white;
    background-color: red;
}
.Menu-add{
    float: right;
    padding: 7px 12px;
    border:2px solid black;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    font-family: Lato-Reg;
    margin: 15px 10px 0px 0px;
    text-decoration: none;
    color: black;
    border-radius: 22px;
    background-color: white;
}
.Menu-add:hover{
    color: white;
    background-color: green;
}

/* ------------------------ KURMA TERBANG ----------------------------------- */
.Kurmaterb{
    height: 60px;
    width: 60px;
    text-align: left;
    float: left;
}