/*WEB FONTS*/
@font-face {
    font-family: Chewy-Reg;
    src: url(Fonts/Chewy/Chewy-Regular.ttf);
}
@font-face {
    font-family: Lato-Bold;
    src: url(Fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Reg;
    src: url(Fonts/Lato/Lato-Regular.ttf);
}

/*NAVBAR*/
.Logopic{
    height: 60px;
    width: 65px;
    text-align: left;
    margin-top: 8px;
    margin-left: 15px;
    float: left;
}

.Title_Navbar{
    float:left;
    margin-top: 20px;
    margin-left: 12px;
    font-family: Chewy-Reg;
}

*, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

nav{
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #B8977E;
    box-shadow: -1px -7px 20px 0px #888;
}
nav ul{
    position: relative;
    top: 20px;
    margin: 0;
    float: right;
    right: 0%;
}
nav ul li{
    float: left;
    display: block;
    margin: 8px 17px 0px 17px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: Lato-Reg;
}
nav ul li a:hover{
    color: black;
}

h1{
    text-align: center;
    font-size: 24px;
    font-family: Chewy-Reg;
    letter-spacing: 3px;
}

/*HOME*/

.Homepic{
    height: 350px;
    width: 360px;
    margin: 50px 0px 30px 44px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.Benefit-title{
    text-align: center;
    font-size: 30px;
    font-family: Chewy-Reg;
    margin: 0px 0px 25px 0px;
}

.Benefit-text{
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.Column-paragraph{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    text-align: center;
}

/*PRODUCTS - Page 1 - 2*/
.Heading-Page{
    float:none;
    text-align: center;
    font-size: 45px;
    margin-top: 45px;
}

.Prod1-pic{
    height: 200px;
    width: 320px;
    margin: 50px 10px 0px 70px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.Prod-Column-Heading{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    text-align: center;
    margin-left: 70px;
    margin-top: 20px;
}

.Prod-Column-Text{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    text-align: center;
    margin-left: 70px;
    margin-top: 20px;
}

.Prod-Title-text{
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    font-family: Lato-Bold;
}

.Prod-text{
    text-align: left;
    font-size: 16px;
    font-family: Lato-Reg;
    line-height: 1.25;
}

/*BRANCH*/

.Branch-Column-Heading{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
}

.Branch-Column-Text{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
}

.Branch-pic{
    height: 330px;
    width: 600px;
    margin: 30px 0px 0px 20px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.Branch-Title-text{
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    font-family: Lato-Bold;
}

.Branch-text{
    text-align: left;
    font-size: 16px;
    font-family: Lato-Reg;
}

/*ABOUT US*/
.Aboutus-Column-Heading{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    text-align: center;
    margin-left: 70px;
    margin-top: 30px;
}

.Aboutus-Logo-pic{
    height: 70px;
    width: 70px;
    margin: 50px 20px 0px 40px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

.Aboutus-Prof-pic{
    height: 280px;
    width: 550px;
    margin: 50px 20px 0px 40px;
    border-style: solid;
    border-width: medium;
    border-color: black;
}